<div
  style="background-image: url('https://coreui.io/images/bgs/KV_top_01.jpg');zoom:0.9;height:1012px;">
<app-header (allChannelStatus)="ChannelStatus($event)"></app-header>
<app-home *ngIf="homeStatus"></app-home>
<app-live-channel *ngIf="allChannel"></app-live-channel>
</div>


<!-- 
<script src="https://static.saavn.com/jw/jwplayer.js"></script>
<script>
  jwplayer.key = "4CeY7l67TCm/R/vUd4bC7FXYRmxCGrkcDRM6tfZ53rHh0DfU";
</script>
<script src="https://staticfe.saavn.com/embed/bundle3.js?ver=15828284320"></script> 



   https://www.cricbuzz.com/match-api/livematches.json
https://hs-consumer-api.espncricinfo.com/v1/pages/matches/current?latest=true
https://hs-consumer-api.espncricinfo.com/v1/pages/match/details?lang=en&seriesId=1249214&matchId=1254062&latest=true
http://static.cricinfo.com/rss/livescores.xml 
https://cricketapi.platform.iplt20.com//fixtures/23473/scoring-
https://cricketapi.platform.iplt20.com//fixtures/
https://cricketapi.platform.iplt20.com/tournaments/22399/squads/6?matchTypes=ALL
https://cricketapi.platform.iplt20.com/tournaments/22399/squads/1
https://cricketapi.platform.iplt20.com/tournaments/22399/
https://api.platform.iplt20.com/content/ipl/bios/EN/?page=0&pageSize=1&tagNames=&references=CRICKET_PLAYER%3A2972
https://cricketapi.platform.iplt20.com//fixtures?tournamentIds=22399&pageSize=100
https://cricketapi.platform.iplt20.com//fixtures/23476/scoring
https://cricketapi.platform.iplt20.com//fixtures/23476/commentary/meta?customer=bcci
https://cricketapi.platform.iplt20.com/stats/players?teamIds=4&tournamentIds=22399&scope=TOURNAMENT&pageSize=30
https://cricketapi.platform.iplt20.com/stats/players?teamIds=1&tournamentIds=22399&scope=TOURNAMENT&pageSize=30
https://cricketapi.platform.iplt20.com//fixtures/23476/commentary/feeds/1?customer=bcci
https://api.platform.iplt20.com/content/ipl/playlist/EN/?references=CRICKET_MATCH%3A23476&pageSize=1&playlistTypeRestriction=PHOTO

 -->