<div
  style="background-image: url('https://coreui.io/images/bgs/KV_top_01.jpg');zoom:0.9;overflow:hidden;height: 983px;">
  <div class="row">
    <div>
      <div style="display:flex;">
      <!-- <img src="https://t4.ftcdn.net/jpg/03/21/00/45/360_F_321004587_5dOpzoYEJupNt5jQYJgpw8SffyfRo8Bj.jpg" style="
    width: 70px;
    height: 62px;
"> -->
      <nav class="nav nav-pills flex-column flex-sm-row" style="
    align-content: center;">

   <a class="text-sm-center nav-link active" style="width: 160px;margin: 23px 95px 0px;" aria-current="page" href="https://idealistic.stackblitz.io/">Home</a>
  <!-- <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
</nav>
</div>
      <marquee behavior="scroll" direction="left" style="font-size: 24px;font-family: 'Lato';font-weight: bold;">Live
        Cricket : Indian Premier League</marquee>
    </div>
  </div>
  <div class="row" style="z-index: 10;">
    <div class="col-6" style="margin-top: 100px;">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false"
        style="text-align-last: center;height: 800px;width: 900px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <iframe src="https://embed235.net/embed/zjnfztb7zkojf" width="700" height="800" scrolling="no"
              frameborder="0" allowfullscreen="true"></iframe>
          </div>
          <div class="carousel-item">
            <iframe id="frameId" src="https://www.yupptv.com/livetv" width="700" height="800" frameborder="0"
              allowfullscreen="true"></iframe>
          </div>
          <div class="carousel-item">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <!-- <iframe  id="frameId" src="https://www.youtube.com/channel/UC4R8DWoMoI7CAwX8_LjQHig" width="700" height="800" scrolling="no"
              frameborder="0" allowfullscreen="true"></iframe> -->
            <iframe id="player" type="text/html" width="640" height="700"
              src="https://www.jiosaavn.com/embed/playlist/85481076" frameborder="0"></iframe>
              <!-- https://www.jiosaavn.com/featured/fresh-music/Ns2UZo9qDvI 
              https://www.jiosaavn.com/embed/playlist/85481065-->
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev" style="cursor: -webkit-grab;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next" style="cursor: -webkit-grab;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
      </div>
      <!-- <div class="widget-content">
        <p align="center">
          <iframe src="https://embed235.net/embed/zjnfztb7zkojf" width="700" height="800" scrolling="no" frameborder="0"
            allowfullscreen="true"></iframe>
        </p>
      </div> -->
    </div>
    <div class="col-6">
      <img
        src="https://coreui.io/images/admin_templates/coreui_alt_960px.png"
        alt=""
        class="src"
        style="width: 600px;height: 700px;object-fit: cover;"
      />
    </div>
  </div>
</div>
<script src="https://static.saavn.com/jw/jwplayer.js"></script>
<script>
  jwplayer.key = "4CeY7l67TCm/R/vUd4bC7FXYRmxCGrkcDRM6tfZ53rHh0DfU";
</script>
<script src="https://staticfe.saavn.com/embed/bundle3.js?ver=15828284320"></script>

<!-- 

   https://www.cricbuzz.com/match-api/livematches.json
https://hs-consumer-api.espncricinfo.com/v1/pages/matches/current?latest=true
https://hs-consumer-api.espncricinfo.com/v1/pages/match/details?lang=en&seriesId=1249214&matchId=1254062&latest=true
http://static.cricinfo.com/rss/livescores.xml 
https://cricketapi.platform.iplt20.com//fixtures/23473/scoring-
https://cricketapi.platform.iplt20.com//fixtures/
https://cricketapi.platform.iplt20.com/tournaments/22399/squads/6?matchTypes=ALL
https://cricketapi.platform.iplt20.com/tournaments/22399/squads/1
https://cricketapi.platform.iplt20.com/tournaments/22399/
https://api.platform.iplt20.com/content/ipl/bios/EN/?page=0&pageSize=1&tagNames=&references=CRICKET_PLAYER%3A2972
https://cricketapi.platform.iplt20.com//fixtures?tournamentIds=22399&pageSize=100
https://cricketapi.platform.iplt20.com//fixtures/23476/scoring
https://cricketapi.platform.iplt20.com//fixtures/23476/commentary/meta?customer=bcci
https://cricketapi.platform.iplt20.com/stats/players?teamIds=4&tournamentIds=22399&scope=TOURNAMENT&pageSize=30
https://cricketapi.platform.iplt20.com/stats/players?teamIds=1&tournamentIds=22399&scope=TOURNAMENT&pageSize=30
https://cricketapi.platform.iplt20.com//fixtures/23476/commentary/feeds/1?customer=bcci
https://api.platform.iplt20.com/content/ipl/playlist/EN/?references=CRICKET_MATCH%3A23476&pageSize=1&playlistTypeRestriction=PHOTO

 -->