<div class="row" style="z-index: 10;">
    <div class="col-6" style="margin-top: 100px;">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false"
        style="text-align-last: center;height: 800px;width: 900px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <!-- <iframe src="https://embed235.net/embed/zjnfztb7zkojf" width="700" height="800" scrolling="no"
              frameborder="0" allowfullscreen="true"></iframe> -->
              <iframe src="http://k1.hitcric.biz" width="650" height="650" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" scrolling="no" allow="autoplay"></iframe>
          </div>
          <!-- <div class="carousel-item">
            <iframe id="frameId" src="https://www.yupptv.com/livetv" width="700" height="800" frameborder="0"
              allowfullscreen="true"></iframe>
          </div> -->
          <div class="carousel-item">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <!-- <iframe  id="frameId" src="https://www.youtube.com/channel/UC4R8DWoMoI7CAwX8_LjQHig" width="700" height="800" scrolling="no"
              frameborder="0" allowfullscreen="true"></iframe> -->
            <iframe id="player" type="text/html" width="640" height="700"
              src="https://www.jiosaavn.com/embed/playlist/85481076" frameborder="0"></iframe>
            <!-- https://www.jiosaavn.com/featured/fresh-music/Ns2UZo9qDvI 
              https://www.jiosaavn.com/embed/playlist/85481065-->
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="prev" style="cursor: -webkit-grab;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="next" style="cursor: -webkit-grab;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- <div class="widget-content">
        <p align="center">
          <iframe src="https://embed235.net/embed/zjnfztb7zkojf" width="700" height="800" scrolling="no" frameborder="0"
            allowfullscreen="true"></iframe>
        </p>
      </div> -->
    </div>
    <div class="col-6">
      <img src="https://coreui.io/images/admin_templates/coreui_alt_960px.png" alt="" class="src"
        style="width: 600px;height: 700px;object-fit: cover;" />
    </div>
  </div>